body {
    margin: 0;
    padding: 0;
}
.roomle-options {
    height: 5rem;
    line-height: 5rem;
    padding-left: 2rem;
}
#roomle-canvas-container {
    width: 100%;
    height: calc(100% - 5rem);
}
button {
    display: inline-block;
    min-height: 39px;
    line-height: 39px;
    font-size: 14px;
    padding: 0 22px;
    background-color: #dd1818;
    appearance: none;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #dd1818;
    border-radius: 3px;
    box-shadow: 0 0 3px transparent;
}
button a {
    color: #ffffff;
    text-decoration: none;
}